header {
  background-color: var(--cor-branco);
}
nav a {
  color: var(--cor-primaria);
  font-weight: bold;
}
main {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.card_container { /*Cards iterativos*/
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  width: fit-content;
  min-width: 200px;
  border: 1px solid var(--cor-primaria);
  border-radius: 8px;
  box-shadow: 0 2px 5px var(--cor-sombra);
  background-color: var(--cor-branco);
  transition:
    transform 0.2s,
    box-shadow 0.2s;
  margin: 20px;
}
.card_container:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px var(--cor-sombra);
}
.descricao {
  padding: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.noticias{/*Divs notícias*/
  width: 500px;
  padding: 8px;
  display: inline-block;
  border: 1px solid var(--cor-bordinha);
  border-radius: 8px;
}

.titulo_not{
  width: 100%;
  margin-bottom: 15px;
  display: inline-block;
}