body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.caixa_login {
  background-color: var(--cor-branco);
  padding: 2rem;
  border-radius: 8px;
  width: 350px;
  box-shadow: 0 4px 10px var(--cor-sombra);
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

label {
  text-align: left;
  font-size: 14px;
  margin-bottom: -10px;
  font-weight: bold;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input:focus {
  outline: none;
  border-color: var(--cor-primaria);
  box-shadow: 0 0 5px var(--cor-sombra);
}

button {
  background-color: var(--cor-primaria);
  color: var(--cor-branco);
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: var(--cor-primaria-hover);
  transition: 0.3s;
}